body{
  margin: 0;
  background:url("../images/Banner.jpg") center center no-repeat;
  background-size: cover;
}

header{
  height: 120px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  position:fixed;
}

section{
  height: 80vh;
  padding:120px 0 0 0;
}

.container{
  padding:0 30px;
  margin: 0 auto;
  position:relative;
  height:100%;
}

.logo-container{
  margin: 0 auto;
  width:100px;
  height:100px;
  padding:10px 0;
}

.logo{
  max-width:100%;
  opacity:0;
  animation: fadeIn 2s forwards;
  animation-delay: 5s;
}

.loader-container{
  position:absolute;
  height:100%;
  width:100%;
}

.loader{
  width: 200px;
  height: 140px;
  background: #fff url('../images/Tribe.png') no-repeat center center;
  animation: spin 2s ease-in-out infinite alternate;
  border-radius: 100px;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 45%;
}

img.symbol {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: block;
  position:absolute;
  top:35%;
  left:35%;
  opacity:0;
}

img.symbol {
  animation: rotateDown 3s forwards;
  animation-delay: 2s;
}


section#coming-soon {
  text-align: center;
  color: #fff;
}

footer{
  position: absolute;
  width:100%;
  bottom:0;
}

footer p{
  margin: 0 auto;
  text-align:center;
  font-size:8px;
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); }
}

@keyframes fadeIn {
  0% {  opacity: 0; }
  100% {  opacity: 1; }
}


@keyframes rotateDown {
  0% { -webkit-transform: rotate(0deg); top:0%; opacity:0; }
  100% { -webkit-transform: rotate(360deg);  top: 35%; opacity:1; }
}

@media screen and (min-width: 900px) {
  img.symbol {
    top: 45%;
    left: 45%;
  }
}


